@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Bold.woff2') format('woff2'),
        url('fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.woff2') format('woff2'),
        url('fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid: auto auto / .8fr;
  place-items: center;
  place-content: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 3vmax;
  display: grid;
  grid: auto / 1fr;
}

img {
  border-radius: 4.5vmax;
  padding: 5% 5% 5% 5%;
}

h1 {
  color: hsl(218, 44%, 22%);
  font: bold 1.4rem Outfit;
  margin: 2% 0 6%;
}

main p {
  color: hsl(220, 15%, 55%);
  font: normal .94rem Outfit;
  margin-bottom: 16%;
}

h1, main p {
  padding: 0 10%;
  text-align: center;
}

.attribution {
  color: hsl(220, 15%, 55%);
  font: normal .69rem/1.6 Outfit;
  font-size: .84rem;
  text-align: center;
  margin-top: 1rem;
  color: #21857B;
}

.attribution a {
  color: #334B48;
  text-decoration: none;
}



@media screen and (min-width: 509px) {

  h1 {
    font-size: 1.6rem;
  }

  main p {
    font-size: 1.14rem;
  }

  .attribution {
    font-size: 1.04rem;
  }
}



@media screen and (min-width: 710px) {

  body {
    grid: auto auto / .3fr;
  }

  h1 {
    font-size: 1.4rem;
  }

  main p {
    font-size: .94rem;
  }

  img {
    border-radius: 4.5vmin;
  }

  main {
    border-radius: 3vmin;
  }

  .attribution {
    font-size: .74rem;
  }
}

